body{
    text-align: center;
}
header{
    background-color: rgb(255, 255, 255);
    height: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.mainone{
    background-position: fixed;
}
.logo{
    display: flex;
    margin-left: 160px;
}
nav ul li {
    display: flex;
    padding-left: 50px;
    text-align: center;
    display: inline;
    text-decoration: none;
}
nav ul{
    margin-left: -700px;
    margin-top: -30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-decoration: underline;
    padding: 2px;
}
.search{
    display: flex;
    justify-content: end;
    margin-right:300px;
    padding: 10px;
    margin-top: -45px;
}
input[type=search]{
    border: 2px solid black;
    border-radius: 20px;
    width: 210px;
}
.pic{
    display: flex;
    justify-content: end;
    margin-top: -55px;
    margin-right: 150px;
    border-radius: 50%;
}
.row .column .ig{
    border-radius: 50%;
}
nav{
    padding-left: 50px;
}
.section{
    background-color: rgb(5, 24, 14);
    color: white;
    height: 50px;
    margin-top: -40px;
    text-align: start;
    padding: 20px;
    margin-left: -50px;
}
.o{
    padding: 10px;
    margin-bottom: 30px;
}
h2{
    margin-left: 200px;
}
h3{
    color: white;
    margin-top: -50px;
    border: 2px solid white;
    width: 100px;
    margin-left: 90%;
    border-radius:20px; 
}
section,h3{
    text-align: start;
    padding: 5px;
}
button{
    width: 100px;
    height: 35px;
    border-radius: 30%;
    cursor: pointer;
}
button:hover{
     background-color: bisque;
}
h1,b{
    margin-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30Px;
    margin-top: 20px;
}

figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.column {
    float: left;
    width: 200px;
    padding: 5px;
    
}
.row::after{
    content: "";
    display: table;
    clear: both;
    margin-left: 500px;
}
.row{
    margin-left: 150px;
}
.row img:hover{
    border: 4px solid green;
}
.mid{
    border: 2px solid black;
    height: 250px;
    width: 1500px;
    margin-left: 0px;
    margin-top: 5px;
    border-radius: 5px;
}
.mid-img{
    padding-right: 100%;
    background-image:url(b1.svg);
    border-radius: 5px;
    position: relative;
    height: 250px;
}
p{
   margin-top: -160px;
    position: absolute;
    margin-left: 250px;
    font-size: 25px;
    color:white;
}
main{
    background-color: rgb(222, 224, 230);
    margin-top: -55px;
}
main h2{
    padding: 10px;
    margin-left: -910px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.m{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: -125px;
    
}

.grid1,.grid2,.grid3{
    border: 1px solid black;
    height: 350px;
    margin: 1px;
    width: 400px;
    margin-left: 130px;
    border-radius: 3%;
    background-color: white;
    background-color: rgb(239, 223, 201);
}
.m img{
    width: 400px;
    height: 170px;
    border-radius: 5px;
}
.m button{
    border-radius: 10px;
}
.m button:hover{
    background-color: darkolivegreen;
    color: white
}
div{
    background-color: ;
}
.title h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -50px;
    padding: 10px;
    font-size: 30px;
}
.cup img{
    border-radius: 10px;
    opacity: 0.7;
    position: relative;
}
.cup img:hover{
    opacity: 1.0;
}
.cup h1{
    position: absolute;
    margin-top: -220px;
    margin-left: 260px;
    color: white;
}
.cup p{
    font-size: 18px;
    margin-left: 250px;
    color: white;
}
.cup button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    margin-left: -1100px;
    margin-top: 210px;
    position: absolute;
    
}
.cup button:hover{
    background-color: cornflowerblue;
    color: white;
}
.i-frames{
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

form{
    font-family: 'source sans pro',sans-serif;
    text-decoration: none;
    color: white;
    background-image: url(form-img.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 50px auto;
    max-width: 100%;
    border-radius: 4px;
    padding: 30px 30px;
    width: 500px;
    margin-top: 1px;

}
.row form h2{
    letter-spacing:6px ;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    display: inline-table;
    margin-bottom: 32px;
    margin-left: 150px;
    margin-top: 20px;
}
form.half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
} 
form.label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
     margin-bottom: 16px;
}
form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 5;
    padding: 8px;
    width: 85%;
    height: 35px;
    background: transparent;
    font-size: 17px;
    color: white;

}
form.full{
    margin-bottom: 24px;
}
form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid  white;
    outline: 0;
    padding: 12px 16px;
    width: 92%;
    height: 150px;
    font-size: 17px;
    color: white;
}

form .action input{
     background: transparent;
     border-radius: 4px;
     border: 1px solid white;
     cursor: pointer;
     font-size: 13px;
     font-weight: 600;
     height: 44px;
     letter-spacing: 3px;
     outline: 0;
     color: white;
}
marquee{
    direction: left;
    height: 300px;
}
.grid-container{
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: rgb(222, 224, 230);
  height: 300px;
  
}
.grid-item1,.grid-item2,.grid-item3{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 20px;
  width: 360px;
  height: 200px;
  border-radius: 10px;
  background-color:rgb(239, 224, 203);
  
}
.grid-item1 img{
    width: 350px;
    border-radius: 10px;
   
}
.grid-item2 img{
    width: 280px;
    border-radius: 10px;
    
}
.grid-item3 img{
    width: 280px;
    border-radius: 10px;
}
.grid-container h2{
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.review h1{
    text-align: center;
    text-decoration: underline;
}
.grid-item1 p{
    text-align: center;
    margin: auto;
    color: black;
    margin-top: -24px;
    margin-left: 150px;

}
.grid-item2 p{
    text-align: center;
    margin: auto;
    color: black;
    margin-top: -24px;
    margin-left: 150px;
    
}
.grid-item3 p{
    text-align: center;
    margin: auto;
    color: black;
    margin-top: -24px;
    margin-left: 150px;
    
}
footer{
    position: relative;
    width: 94%;
    background: rgb(45, 44, 44);
    min-height: 100px;
    padding: 20px 50px;
    height: 160px;
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.social-icons img{
    border-radius: 30px;
    margin: 10px;
    transition: 0.5%;
    
}
.social-icons img:hover{
    transform: translate(-10px);
}
.menu {
    list-style: none;
    display: flex;
    color: white;
   margin-left: 500px;
    transition: 0.5s;
    font-size: 20px;
    margin-top: 10px;
}
.menu a{
    padding: 10px;
    text-decoration: none;
    color: white;
    
   
}
.menu a:hover{
    text-decoration: underline;
    padding: 5px;
}
.para{  
    font-weight: 5px;
    margin-top: 170px;
    margin-left: 280px;
    
}
